div.highlight pre {
    border: 1px solid #ddd !important;
    box-shadow: none !important;
    background: #f8f8f8 !important;
}

div.highlight pre code {
    border: none !important;
}

.rst-content .highlight pre {
    border: none !important;
    box-shadow: none !important;
}

.rst-content .highlight pre code {
    border: none !important;
}